<nav>
    <ul>
        <li><a href="{% url 'home' %}">home</a></li>
        <li><a href="{% url 'options' %}">options</a></li>
        <li><a href="{% url 'withdraw' %}">withdraw</a></li>
        <li><a href="{% url 'transfer' %}">transfer</a></li>
        <li><a href="{% url 'admin_home' %}">administrator</a></li>
        <li><a href="{% url 'admin_options' %}">admin_options</a></li>
        <li><a href="{% url 'create_card' %}">create_card</a></li>
        <li><a href="{% url 'atm_status' %}">atm_status</a></li>
    </ul>
</nav>