This bar is here for ease of testing and will be removed in the final version
<nav>
    <ul>
        <li><a href="{% url 'home' %}">home</a></li>
        <li><a href="{% url 'user_options' %}">user options</a></li>
        <li><a href="{% url 'withdraw' %}">withdraw</a></li>
        <li><a href="{% url 'transfer' %}">transfer</a></li>
        <li><a href="{% url 'admin_home' %}">administrator</a></li>
        <li><a href="{% url 'admin_options' %}">admin_options</a></li>
        <li><a href="{% url 'create_card' %}">create_card</a></li>
        <li><a href="{% url 'atm_status' %}">atm_status</a></li>
        <li><a href="{% url 'login_fail' %}">login_fail</a></li>
    </ul>
</nav>