{% extends 'base.html' %}

{% block title %} Transfer {% endblock %}

{% block body %}

Card num: {{card_num}}
    <form action="{% url 'process_transfer' card_num%}" method="post">
        {% csrf_token %}
        {{form.as_p}}
            <label for="beneficiary">Beneficiary:</label>
            <input type="text" name="beneficiary"><br>
            <label for="amount" >Amount:</label>
            <input type="text" name="amount"><br>
            <input type="submit" value="Transfer">
    </form>

{% endblock %}