{% extends 'base.html' %}

{% block title %} Options {% endblock %}

{% block body %}


<h1>How can we help you, {{name}}?</h1>






    <a href="{% url 'check_balance' card_num%}" class="btn btn-dark btn-lg">Check Balance</a><br><br>
    <a href="{% url 'view_transactions' card_num%}" class="btn btn-dark btn-lg">View Transactions</a><br><br>
    <a href="{% url 'withdraw' card_num%}" class="btn btn-dark btn-lg">Withdraw</a><br><br>
    <a href="{% url 'transfer' card_num%}" class="btn btn-dark btn-lg">Transfer</a>






{% endblock %}